<div class="ui-fluid">
    <div class="card ui-g">
      <div class="ui-g-12">
        <p-toast position="top-center"></p-toast>
        <h2>Gestion de estanteria </h2>
        <section class="header-section">
          
         <p-button class="button-pdf" label="PDF" icon="pi pi-file-pdf" (click)="exportPdf()"></p-button> 
          <article class="ml-auto">
         <p-button class="ui-button-success" icon="pi pi-plus" iconPos="right" label="Registrar"   (click)="redirect('create')"></p-button> 
          </article>
        </section>
      <p-table [columns]="cols" [value]="lisEstanterias">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns">
                        {{col.header}}
                    </th>
                </tr>
                <th width="100px">
                  Opciones
              </th>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                    <td *ngFor="let col of columns">
                        {{rowData[col.field]}}
                    </td>
                </tr>
                <td>
                  
                  <button pButton class="ui-button-success" style="margin-left: 5px;" type="button" icon="pi pi-pencil" pTooltip="Editar"
                  (click)="redirect('edit', rowData.id)"></button>
              
            </ng-template>
        </p-table> 
      </div>
    </div>
  </div>
  
